{% load static %}
<!--/ Main Nav Start -->
<div class="utf_main_nav_area clearfix utf_sticky">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg col">
                <div class="utf_site_nav_inner float-left">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item dropdown"><a href="/" class="nav-link">Home</a></li>
                            <li class="dropdown">
                                <a href="/category/kerala/" class="dropdown-toggle" data-toggle="dropdown">Kerala <i class="fa fa-angle-down"></i></a>
                                <ul class="utf_dropdown_menu" role="menu">
                                    <li><a href="/category/thiruvananthapuram">Thiruvananthapuram</a></li>
                                    <li><a href="/category/kollam">Kollam</a></li>
                                    <li><a href="/category/alappuzha">Alappuzha</a></li>
                                    <li><a href="/category/pathanamthitta">Pathanamthitta</a></li>
                                    <li><a href="/category/kottayam">Kottayam</a></li>
                                    <li><a href="/category/idukki">Idukki</a></li>
                                    <li><a href="/category/ernakulam">Ernakulam</a></li>
                                    <li><a href="/category/thrissur">Thrissur</a></li>
                                    <li><a href="/category/palakkad">Palakkad</a></li>
                                    <li><a href="/category/malappuram">Malappuram</a></li>
                                    <li><a href="/category/kozhikode">Kozhikode</a></li>
                                    <li><a href="/category/wayanad">Wayanad</a></li>
                                    <li><a href="/category/kannur">Kannur</a></li>
                                    <li><a href="/category/kasaragod">Kasaragod</a></li>
                                </ul>
                            </li>
                            {% for i in header_categories %}
                            <li><a href="{% url 'web:category' slug=i.slug %}">{{i.title}}</a></li>
                            {% endfor %}
                            <li><a href="{% url 'web:gallery' %}">Photo Gallery</a></li>
                            <li><a href="{% url 'web:join_whatsapp' %}">Whatsapp Groups</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="utf_nav_search">
                <span id="search"><i class="fa fa-search"></i></span>
            </div>
            <div class="utf_search_block" style="display: none;">
                <input type="text" class="form-control" placeholder="Enter your keywords..." />
                <span class="utf_search_close">&times;</span>
            </div>
        </div>
    </div>
</div>
<!--/ Main Nav End -->
