#utf_latest_news_slide .utf_post_thumb a {
    display: inline-block;
    width: 262px;
    height: 175px;
    overflow: hidden;
}
#utf_latest_news_slide .utf_post_thumb a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-post-list a {
    color: #ec0000;
}
.utf_list_post_block .utf_list_post>li {
    max-height: 160px;
}
.card {
    padding: 20px;
}
.card-columns i {
    color: #EC0000;
}
.disabled {
  pointer-events: none;
  cursor: default;
}
.single-post .poetry  p {
    margin-bottom: 0;
    line-height: 18px;
}
