{% extends 'web/base.html' %}
{% load static %}
{% block title %}{{instance}} News{% endblock title %}
{% block content %}

{% include 'web/includes/breadcrumb.html' %}

<section class="utf_block_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="block category-listing">
                    <h3 class="utf_block_title"><span>{{instance}} News</span></h3>

                    <div class="row">
                        {% for i in news_list %}
                        <div class="col-md-6">
                            <div class="utf_post_block_style post-grid clearfix">
                                <div class="utf_post_thumb">
                                    {% if i.featured_image %}
                                    <a href="{% url 'web:post' slug=i.slug %}"> <img class="img-fluid lazy" src="{% static 'images/loading.webp' %}" data-src="{{i.featured_image.crop.360x206}}" alt="" /> </a>
                                    {% endif %}
                                </div>
                                <a class="utf_post_cat" href="{% url 'web:category' slug=i.category.slug %}">{{i.category}}</a>
                                <div class="utf_post_content">
                                    <h2 class="utf_post_title title-large"><a href="{% url 'web:post' slug=i.slug %}">{{i.title}}</a></h2>
                                    <div class="utf_post_meta">
                                        <span class="utf_post_author"><i class="fa fa-user"></i> <a href="javascript:void(0)">{{i.reporter}}</a></span> <span class="utf_post_date"><i class="fa fa-clock-o"></i> {{instance.display_time}}</span>
                                        <span class="post-comment pull-right">
                                            <i class="fa fa-comments-o"></i> <a href="#" class="comments-link"><span>{{i.comment_count}}</span></a>
                                        </span>
                                    </div>
                                    <p>{{instance.content|safe}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="paging">
                    {% if news_list.has_other_pages %}
                      <ul class="pagination">
                        {% if news_list.has_previous %}
                          <li><a href="?page={{ news_list.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
                        {% endif %}
                        {% for i in news_list.paginator.page_range %}
                          {% if news_list.number == i %}
                            <li class="active"><a href="javascript:void(0)">{{i}}<span class="sr-only">(current)</span></a></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if news_list.has_next %}
                          <li><a href="?page={{ news_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><a href="javascript:void(0)">&raquo;</a></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="sidebar utf_sidebar_right">
                    <div class="widget">
                        <h3 class="utf_block_title"><span>Follow Us</span></h3>
                        <ul class="social-icon">
                            {% for i in socials %}
                            <li>
                                <a href="{{i.link}}" target="_blank"><i class="fa fa-{{i.media}}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% include 'web/includes/popular-news.html' %}
                    {% include 'web/includes/post_ads.html' %}
                    {% include 'web/includes/subscription.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
